<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mike_hudick_sample.name %>
</p>

<%= link_to 'Edit', edit_mike_hudick_sample_path(@mike_hudick_sample) %> |
<%= link_to 'Back', mike_hudick_samples_path %>
